services:
  stunnel-client:
    image: {{ service_compose_shared_stunnel_image | to_json }}
    container_name: {{ service_compose_shared_stunnel_container_name | to_json }}
    restart: unless-stopped
    environment:
      STUNNEL_CLIENT: "yes"
      STUNNEL_SERVICE: "postgres-client"
      STUNNEL_ACCEPT: "{{ service_compose_shared_stunnel_accept_port }}"
      STUNNEL_CONNECT: "{{ service_compose_env_common.DB_TLS_HOST }}:{{ service_compose_env_common.DB_TLS_PORT }}"
      STUNNEL_VERIFY: "2"
      STUNNEL_VERIFY_CHAIN: "yes"
    ports:
      - "127.0.0.1:{{ service_compose_shared_stunnel_accept_port }}:{{ service_compose_shared_stunnel_accept_port }}"
    networks:
      shared:
        aliases:
          - stunnel-client

networks:
  shared:
    name: {{ service_compose_shared_stunnel_network_name | to_json }}
