CONFIG_TEMPLATE=/app/config/account.cloudrun.yaml
DB_USER=postgres
DB_NAME=account
DB_PASSWORD=REPLACE_ME
SMTP_HOST=smtp.qq.com
SMTP_PORT=587
SMTP_FROM=XControl Account <example@example.com>
SMTP_USERNAME=REPLACE_ME
SMTP_PASSWORD=REPLACE_ME
