{% for key, value in compose_migration_accounts_env.items() %}
{{ key }}={{ value }}
{% endfor %}
{% if compose_migration_accounts_env.POSTGRES_USER is not defined %}
POSTGRES_USER={{ compose_migration_accounts_env.DB_USER | default('postgres') }}
{% endif %}
{% if compose_migration_accounts_env.POSTGRES_PASSWORD is not defined %}
POSTGRES_PASSWORD={{ compose_migration_accounts_env.DB_PASSWORD | default('REPLACE_ME') }}
{% endif %}
