[submodule "subrepos/accounts.svc.plus"]
	path = subrepos/accounts.svc.plus
	url = https://github.com/cloud-neutral-toolkit/accounts.svc.plus.git
	branch = main
[submodule "subrepos/console.svc.plus"]
	path = subrepos/console.svc.plus
	url = https://github.com/cloud-neutral-toolkit/console.svc.plus.git
	branch = main
[submodule "subrepos/docs.svc.plus"]
	path = subrepos/docs.svc.plus
	url = https://github.com/x-evor/docs.svc.plus.git
	branch = main
[submodule "subrepos/knowledge"]
	path = subrepos/knowledge
	url = https://github.com/x-evor/knowledge.git
	branch = main
[submodule "subrepos/xworkmate.svc.plus"]
	path = subrepos/xworkmate.svc.plus
	url = https://github.com/x-evor/xworkmate.svc.plus.git
