apiVersion: v1
kind: Secret
metadata:
  name: {{ manifest.service.name }}-env
  namespace: {{ manifest.service.namespace }}
type: Opaque
stringData:
{% if manifest.service.secret | length == 0 %}
  EXAMPLE_SECRET: "REPLACE_ME"
{% else %}
{% for key, value in manifest.service.secret.items() %}
  {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
