apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ manifest.service.name }}
  namespace: {{ manifest.service.namespace }}
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: {{ manifest.service.name }}
      track: stable
  template:
    metadata:
      labels:
        app: {{ manifest.service.name }}
        track: stable
    spec:
      containers:
        - name: app
          image: {{ manifest.service.image }}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ manifest.service.port }}
          resources:
            requests:
              cpu: "{{ manifest.service.request_cpu }}"
              memory: "{{ manifest.service.request_memory }}"
            limits:
              cpu: "{{ manifest.service.limit_cpu }}"
              memory: "{{ manifest.service.limit_memory }}"
          envFrom:
            - configMapRef:
                name: {{ manifest.service.name }}-config
            - secretRef:
                name: {{ manifest.service.name }}-env
          readinessProbe:
            httpGet:
              path: /healthz
              port: {{ manifest.service.port }}
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ manifest.service.port }}
            initialDelaySeconds: 30
            periodSeconds: 20
