apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_core_dns_secret.name }}
  namespace: {{ k3s_core_dns_secret.namespace }}
type: Opaque
stringData:
{% for key, value in k3s_core_dns_secret.string_data.items() %}
  {{ key }}: "{{ value }}"
{% endfor %}
