apiVersion: apps/v1
kind: Deployment
metadata:
  name: stunnel-client
  namespace: {{ k3s_core_shared_stunnel.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: stunnel-client
  template:
    metadata:
      labels:
        app: stunnel-client
    spec:
      containers:
        - name: stunnel
          image: {{ k3s_core_shared_stunnel.image }}
          command: ["stunnel", "/etc/stunnel/stunnel.conf"]
          ports:
            - containerPort: {{ k3s_core_shared_stunnel.accept_port }}
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "100m"
              memory: "128Mi"
          volumeMounts:
            - name: config
              mountPath: /etc/stunnel
          readinessProbe:
            tcpSocket:
              port: {{ k3s_core_shared_stunnel.accept_port }}
            initialDelaySeconds: 5
            periodSeconds: 10
      volumes:
        - name: config
          configMap:
            name: stunnel-client-config
