apiVersion: v1
kind: Service
metadata:
  name: stunnel-client
  namespace: {{ k3s_core_shared_stunnel.namespace }}
spec:
  selector:
    app: stunnel-client
  ports:
    - port: {{ k3s_core_shared_stunnel.accept_port }}
      targetPort: {{ k3s_core_shared_stunnel.accept_port }}
      protocol: TCP
