{% for key, value in docker_compose_lite_accounts_env.items() %}
{{ key }}={{ value }}
{% endfor %}
{% if docker_compose_lite_accounts_env.POSTGRES_USER is not defined %}
POSTGRES_USER={{ docker_compose_lite_accounts_env.DB_USER | default('postgres') }}
{% endif %}
{% if docker_compose_lite_accounts_env.POSTGRES_PASSWORD is not defined %}
POSTGRES_PASSWORD={{ docker_compose_lite_accounts_env.DB_PASSWORD | default('REPLACE_ME') }}
{% endif %}
