foreground = yes
debug = 5

[postgres-client]
client = yes
accept = 0.0.0.0:{{ stunnel_client_accept_port }}
connect = {{ stunnel_client_remote_host }}:{{ stunnel_client_remote_port }}
verify = {{ stunnel_client_verify_mode }}
CAfile = /etc/ssl/certs/ca-certificates.crt
checkHost = {{ stunnel_client_remote_host }}
socket = l:TCP_NODELAY=1
socket = r:TCP_NODELAY=1
socket = l:SO_KEEPALIVE=1
socket = r:SO_KEEPALIVE=1
TIMEOUTclose = 0
TIMEOUTidle = 43200
