services:
  stunnel:
    image: {{ stunnel_server_image | to_json }}
    container_name: {{ stunnel_server_container_name | to_json }}
    restart: unless-stopped
    ports:
      - "{{ stunnel_server_host_port }}:5433"
    extra_hosts:
      - host.docker.internal:host-gateway
    volumes:
      - {{ (stunnel_server_conf_dir ~ '/stunnel.conf') | to_json }}:/etc/stunnel/stunnel.conf:ro
      - {{ stunnel_server_cert_file | to_json }}:/etc/stunnel/certs/server-cert.pem:ro
      - {{ stunnel_server_key_file | to_json }}:/etc/stunnel/certs/server-key.pem:ro

