{{ vault_release_domains | join(", ") }} {
  encode zstd gzip
  reverse_proxy 127.0.0.1:{{ vault_release_http_port }}

  header {
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "no-referrer"
  }
}
