services:
  apisix:
    image: {{ apisix_release_image | to_json }}
    container_name: {{ apisix_release_container_name | to_json }}
    restart: unless-stopped
    env_file:
      - {{ apisix_release_env_file | to_json }}
    ports:
      - "127.0.0.1:{{ apisix_release_http_port }}:9080"
    volumes:
      - {{ (apisix_release_conf_dir ~ '/config.yaml') | to_json }}:/usr/local/apisix/conf/config.yaml:ro
      - {{ (apisix_release_conf_dir ~ '/apisix.yaml') | to_json }}:/usr/local/apisix/conf/apisix.yaml:ro
